<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.udf.auction.dao.MyBatisAuctionApplyDao">

<select id="listAll" resultType="Auction">
SELECT  d.daa_no  no
      , u.user_no userNo
      , u.user_nm writer
      , d.daa_loc loc
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
      , TO_CHAR(d.daa_deadline, 'YYYY-MM-DD') deadline
      , d.daa_memo memo
      , TO_CHAR(d.regdate, 'YYYY-MM-DD') regdate
      ,'dress' type
FROM   dress_auction_apply d
       JOIN users u 
         ON d.user_no = u.user_no
UNION
SELECT m.maa_no  no
     , u.user_no userNo
     , u.user_nm writer   
     , m.maa_loc loc
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(m.maa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , m.maa_memo memo
     , TO_CHAR(m.regdate, 'YYYY-MM-DD') regdate
     ,'makeup' type
  FROM makeup_auction_apply m
       JOIN users u 
         ON m.user_no = u.user_no
UNION
SELECT s.saa_no  no
     , u.user_no userNo
     , u.user_nm writer
     , s.saa_loc loc
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(s.saa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , s.saa_memo memo
     , TO_CHAR(s.regdate, 'YYYY-MM-DD') regdate
     , 'studio' type
  FROM studio_auction_apply s
       JOIN users u
         ON s.user_no = u.user_no
</select>

<insert id="create" parameterType="Auction">
<choose>
<when test="type == 'makeup'">
INSERT INTO makeup_auction_apply 
            (maa_no, 
             user_no, 
             user_nm
             maa_loc, 
             maa_date,
             maa_deadline, 
             maa_memo, 
             regdate) 
VALUES      (makeup_auction_apply_seq.NEXTVAL, 
             #{userNo},
             (SELECT user_nm writer
             FROM users
             WHERE user_no = #{userNo}),
             #{loc}, 
             TO_DATE(#{date}, 'YYYY/MM/DD HH24:MI'),
             TO_DATE(#{deadline}, 'YYYY/MM/DD'), 
             #{memo}, 
             SYSDATE)
</when>
<when test="type == 'studio'">
INSERT INTO studio_auction_apply 
            (saa_no, 
             user_no, 
             user_nm,
             saa_loc, 
             saa_date, 
             saa_memo, 
             regdate) 
VALUES      (studio_auction_apply_seq.NEXTVAL, 
             #{userNo}, 
             (SELECT user_nm writer
             FROM users
             WHERE user_no = #{userNo}),
             #{loc}, 
             TO_DATE(#{date}, 'YYYY/MM/DD HH24:MI'), 
             TO_DATE(#{deadline}, 'YYYY/MM/DD'), 
             #{memo}, 
             SYSDATE)
</when>
<when test="type == 'dress'">              
INSERT INTO dress_auction_apply 
            (daa_no, 
             user_no,
             user_nm, 
             daa_loc, 
             daa_date,
             daa_deadline,
             daa_memo, 
             regdate) 
VALUES      (dress_auction_apply_seq.NEXTVAL, 
             #{userNo}, 
            (SELECT user_nm writer
             FROM users
             WHERE user_no = #{userNo}),
             #{loc}, 
             TO_DATE(#{date}, 'YYYY/MM/DD HH24:MI'), 
             TO_DATE(#{deadline}, 'YYYY/MM/DD'), 
             #{memo}, 
             SYSDATE) 
</when>
</choose>
</insert>

<select id="listParams" parameterType="SearchParams" resultType="Auction">
SELECT M.*
  FROM (SELECT CEIL(rownum / #{perPageNum}) page 
             , S.*
          FROM ( SELECT  d.daa_no  no
                      , u.user_no userNo
                      , u.user_nm writer
                      , d.daa_loc loc
                      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
                      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
                      , TO_CHAR(d.daa_deadline, 'YYYY-MM-DD') deadline
                      , d.daa_memo memo
                      , TO_CHAR(d.regdate, 'YYYY-MM-DD') regdate
                      ,'dress' type
                FROM   dress_auction_apply d
                       JOIN users u 
                         ON d.user_no = u.user_no
                UNION
                SELECT m.maa_no  no
                     , u.user_no userNo
                     , u.user_nm writer   
                     , m.maa_loc loc
                     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
                     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
                     , SUBSTR(TO_CHAR(m.maa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
                     , m.maa_memo memo
                     , TO_CHAR(m.regdate, 'YYYY-MM-DD') regdate
                     ,'makeup' type
                  FROM makeup_auction_apply m
                       JOIN users u 
                         ON m.user_no = u.user_no
                UNION
                SELECT s.saa_no  no
                     , u.user_no userNo
                     , u.user_nm writer
                     , s.saa_loc loc
                     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
                     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
                     , SUBSTR(TO_CHAR(s.saa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
                     , s.saa_memo memo
                     , TO_CHAR(s.regdate, 'YYYY-MM-DD') regdate
                     , 'studio' type
                  FROM studio_auction_apply s
                       JOIN users u
                         ON s.user_no = u.user_no) S
        ) M
 WHERE page = #{page}
</select>

<select id="realtimelist" parameterType="map" resultType="Auction">
<![CDATA[
SELECT M.*
     , (SELECT USER_NM FROM USERS u WHERE u.user_no = M.userNo) writer
  FROM   (SELECT rownum rnum,
               saa_no no,                      
               user_no userNo,  
               saa_loc loc,  
               saa_date day, 
               saa_memo memo,
               saa_deadline deadline,
               regdate ,
               updatedate 
        FROM   (SELECT 
               saa_no ,                      
               user_no ,  
               saa_loc ,  
               saa_date , 
               saa_memo ,
               saa_deadline,
               regdate ,
               updatedate
                FROM   studio_auction_apply 
                WHERE  saa_no > 0
                ORDER  BY saa_no DESC, 
                          regdate desc)) M
 WHERE rnum between #{start} and #{end}              
]]>
</select>

</mapper>