<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.udf.auction.dao.MyBatisAuctionApplyDao">

  <!-- 스드메 삭제 -->  
   <delete id = "deleteDress">
         DELETE 
           FROM dress_auction_apply
          WHERE daa_no = #{value}
   </delete>
   <delete id = "deleteMakeup">
         DELETE 
           FROM makeup_auction_apply 
          WHERE maa_no = #{value}
   </delete>
   <delete id = "deleteStudio">
   		DELETE 
   		  FROM studio_auction_apply 
   		 WHERE saa_no = #{value} 
   </delete>
   
   <!-- 스드메 수정 -->
   <update id="updateDress">
   update dress_auction_apply
   set daa_date = to_date(#{date},'YYYY-MM-DD HH24:MI'), daa_loc = #{loc} , daa_memo = #{memo}    
   where daa_no = #{no}
   </update>
   
   <update id="updateMakeup">
   update makeup_auction_apply
   set maa_date = to_date(#{date},'YYYY-MM-DD HH24:MI'), maa_loc = #{loc} , maa_memo = #{memo}    
   where maa_no = #{no}
   </update>
   
   <update id="updateStudio">
   update studio_auction_apply
   set saa_date = to_date(#{date},'YYYY-MM-DD HH24:MI'), saa_loc = #{loc} , saa_memo = #{memo}    
   where saa_no = #{no}
   </update>
   
<!-- 게시물 조회 -->
<select id="read" resultType="Auction">
select d.*
from (SELECT  d.daa_no  no
      , u.user_no userNo
      , u.user_nm writer
      , NVL(u.user_tel, null) tel
      , d.daa_loc loc
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
      , TO_CHAR(d.daa_deadline, 'YYYY-MM-DD') deadline
      , d.daa_memo memo
      , d.daa_stat stat
      , TO_CHAR(d.regdate, 'YYYY-MM-DD') regdate
      ,'dress' type
FROM   dress_auction_apply d
       JOIN users u 
         ON d.user_no = u.user_no
UNION
SELECT m.maa_no  no
     , u.user_no userNo
     , u.user_nm writer   
     , NVL(u.user_tel, null) tel
     , m.maa_loc loc
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(m.maa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , m.maa_memo memo
     , m.maa_stat stat
     , TO_CHAR(m.regdate, 'YYYY-MM-DD') regdate
     ,'makeup' type
  FROM makeup_auction_apply m
       JOIN users u 
         ON m.user_no = u.user_no
UNION
SELECT s.saa_no  no
     , u.user_no userNo
     , u.user_nm writer
     , NVL(u.user_tel, null) tel
     , s.saa_loc loc
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(s.saa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , s.saa_memo memo
     , s.saa_stat stat
     , TO_CHAR(s.regdate, 'YYYY-MM-DD') regdate
     , 'studio' type
  FROM studio_auction_apply s
       JOIN users u
         ON s.user_no = u.user_no) d
WHERE no = #{no} and type = #{type}
	</select>


<!--  (페이징 처리 없이) 전체 신청 리스트 조회 -->
<select id="listAll" resultType="Auction">
SELECT  d.daa_no  no
      , u.user_no userNo
      , u.user_nm writer
      , d.daa_loc loc
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
      , TO_CHAR(d.daa_deadline, 'YYYY-MM-DD') deadline
      , d.daa_memo memo
      , d.daa_stat stat
      , TO_CHAR(d.regdate, 'YYYY-MM-DD') regdate
      ,'dress' type
FROM   dress_auction_apply d
       JOIN users u 
         ON d.user_no = u.user_no
WHERE d.daa_stat = '입찰중' OR  d.daa_stat = '낙찰대기중'
UNION
SELECT m.maa_no  no
     , u.user_no userNo
     , u.user_nm writer   
     , m.maa_loc loc
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(m.maa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , m.maa_memo memo
     , m.maa_stat stat
     , TO_CHAR(m.regdate, 'YYYY-MM-DD') regdate
     ,'makeup' type
  FROM makeup_auction_apply m
       JOIN users u 
         ON m.user_no = u.user_no
WHERE m.maa_stat = '입찰중' OR  m.maa_stat =  '낙찰대기중'
UNION
SELECT s.saa_no  no
     , u.user_no userNo
     , u.user_nm writer
     , s.saa_loc loc
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(s.saa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , s.saa_memo memo
     , s.saa_stat stat
     , TO_CHAR(s.regdate, 'YYYY-MM-DD') regdate
     , 'studio' type
  FROM studio_auction_apply s
       JOIN users u
         ON s.user_no = u.user_no
WHERE s.saa_stat = '입찰중' OR s.saa_stat = '낙찰대기중'
</select>

<!--  스드메 신청서 신규 작성 -->
<insert id="createMakeup" parameterType="Auction">
INSERT INTO makeup_auction_apply 
            (maa_no, 
             user_no, 
             maa_loc, 
             maa_date,
             maa_deadline, 
             maa_memo,
             maa_stat,
             regdate,
             updatedate) 
VALUES      (makeup_auction_apply_seq.NEXTVAL, 
             #{userNo},
             #{loc}, 
             TO_DATE(#{date}, 'YYYY/MM/DD HH24:MI'),
             TO_DATE(#{deadline}, 'YYYY/MM/DD'), 
             #{memo},
             '입찰중', 
             SYSDATE,
             SYSDATE)
</insert>

<insert id="createStudio" parameterType="Auction">
INSERT INTO studio_auction_apply 
            (saa_no, 
             user_no, 
             saa_loc, 
             saa_date, 
             saa_deadline,
             saa_memo,
             saa_stat, 
             regdate,
             updatedate) 
VALUES      (studio_auction_apply_seq.NEXTVAL, 
             #{userNo}, 
             #{loc}, 
             TO_DATE(#{date}, 'YYYY/MM/DD HH24:MI'), 
             TO_DATE(#{deadline}, 'YYYY/MM/DD'), 
             #{memo},
             '입찰중', 
             SYSDATE,
             SYSDATE)
</insert>


<insert id="createDress" parameterType="Auction">
INSERT INTO dress_auction_apply 
            (daa_no, 
             user_no,
             daa_loc, 
             daa_date,
             daa_deadline,
             daa_memo,
             daa_stat, 
             regdate,
             updatedate) 
VALUES      (dress_auction_apply_seq.NEXTVAL, 
             #{userNo}, 
             #{loc}, 
             TO_DATE(#{date}, 'YYYY/MM/DD HH24:MI'), 
             TO_DATE(#{deadline}, 'YYYY/MM/DD'), 
             #{memo}, 
             '입찰중',
             SYSDATE,
             SYSDATE) 
</insert>	

<!--  신청서 전체 리스트 페이징 처리 -->
<select id="listParams" parameterType="SearchParams" resultType="Auction">
SELECT a.* 
FROM   (       SELECT Ceil(ROWNUM / 10) page , 
                     m.* 
              FROM   (        SELECT   s.* 
                              FROM     (      SELECT d.daa_no                                               no ,
                                                     u.user_no                                              userno ,
                                                     u.user_nm                                              writer ,
                                                     d.daa_loc                                              loc ,
                                                     Substr(To_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),0,10) day , 
                                                     Substr(To_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),12,7) TIME , 
                                                     To_char(d.daa_deadline, 'YYYY-MM-DD')                  deadline , 
                                                     d.daa_memo                                             memo ,
                                                     d.daa_stat                                             stat ,
                                                     To_char(d.regdate, 'YYYY-MM-DD')                       regdate , 
                                                     'dress'                                                TYPE
                                              FROM   dress_auction_apply d 
                                              join   users u 
                                              ON     d.user_no = u.user_no 
                                              WHERE  d.daa_stat = '입찰중' 
                                              OR     d.daa_stat = '낙찰대기중' 
                                              UNION 
                                              SELECT m.maa_no                                                   no ,
                                                     u.user_no                                                  userno ,
                                                     u.user_nm                                                  writer ,
                                                     m.maa_loc                                                  loc ,
                                                     Substr(To_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),0,10)     day , 
                                                     Substr(To_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),12,7)     TIME , 
                                                     Substr(To_char(m.maa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline , 
                                                     m.maa_memo                                                 memo ,
                                                     m.maa_stat                                                 stat ,
                                                     To_char(m.regdate, 'YYYY-MM-DD')                           regdate , 
                                                     'makeup'                                                   TYPE
                                              FROM   makeup_auction_apply m 
                                              join   users u 
                                              ON     m.user_no = u.user_no 
                                              WHERE  m.maa_stat = '입찰중' 
                                              OR     m.maa_stat = '낙찰대기중' 
                                              UNION 
                                              SELECT s.saa_no                                                   no ,
                                                     u.user_no                                                  userno ,
                                                     u.user_nm                                                  writer ,
                                                     s.saa_loc                                                  loc ,
                                                     Substr(To_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),0,10)     day , 
                                                     Substr(To_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),12,7)     TIME , 
                                                     Substr(To_char(s.saa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline , 
                                                     s.saa_memo                                                 memo ,
                                                     s.saa_stat                                                 stat ,
                                                     To_char(s.regdate, 'YYYY-MM-DD')                           regdate , 
                                                     'studio'                                                   TYPE
                                              FROM   studio_auction_apply s 
                                              join   users u 
                                              ON     s.user_no = u.user_no 
                                              WHERE  s.saa_stat = '입찰중' 
                                              OR     s.saa_stat = '낙찰대기중') s 
                              ORDER BY regdate DESC ) m ) a
              WHERE  1 = 1 and page = #{page}              
             </select>
             

<!--  낙찰 전체 리스트 페이징 처리 -->
<select id="winlistParams" parameterType="SearchParams" resultType="Auction">
   SELECT a.* 
FROM   (       SELECT Ceil(ROWNUM / 10) page , 
                     m.* 
              FROM   (        SELECT   s.* 
                              FROM     (      SELECT d.daa_no                                               no ,
                                                     u.user_no                                              userno ,
                                                     u.user_nm                                              writer ,
                                                     d.daa_loc                                              loc ,
                                                     Substr(To_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),0,10) day , 
                                                     Substr(To_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),12,7) TIME , 
                                                     To_char(d.daa_deadline, 'YYYY-MM-DD')                  deadline , 
                                                     d.daa_memo                                             memo ,
                                                     d.daa_stat                                             stat ,
                                                     To_char(d.regdate, 'YYYY-MM-DD')                       regdate , 
                                                     'dress'                                                TYPE    ,
                                                     l.dbpl_discount                                        discount,
                                                     p.dp_price                                             price
                                              FROM   dress_auction_apply d 
                                              JOIN users u 
                                                   ON d.user_no = u.user_no
                                              join dress_bid b   
                                                   on d.daa_no = b.daa_no and d.user_no = b.user_no
                                              join dress_bid_product_list l
                                                   on B.DAA_NO = L.DAA_NO and B.DB_NO = L.DB_NO and b.dc_no = l.dc_no and b.user_no = l.user_no
                                              join dress_product p
                                                   on L.DP_NO = P.DP_NO and L.DC_NO  = P.DC_NO 
                                              WHERE  d.daa_stat = '낙찰'     
                                              UNION 
                                              SELECT m.maa_no                                                   no ,
                                                     u.user_no                                                  userno ,
                                                     u.user_nm                                                  writer ,
                                                     m.maa_loc                                                  loc ,
                                                     Substr(To_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),0,10)     day , 
                                                     Substr(To_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),12,7)     TIME , 
                                                     Substr(To_char(m.maa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline , 
                                                     m.maa_memo                                                 memo ,
                                                     m.maa_stat                                                 stat ,
                                                     To_char(m.regdate, 'YYYY-MM-DD')                           regdate , 
                                                     'makeup'                                                   TYPE,
                                                     l.mbpl_discount                                        discount,
                                                     p.mp_price                                             price
                                              FROM   makeup_auction_apply m 
                                              JOIN users u 
                                                   ON m.user_no = u.user_no
                                              join makeup_bid b   
                                                   on m.maa_no = b.maa_no and m.user_no = b.user_no
                                              join makeup_bid_product_list l
                                                   on B.mAA_NO = L.mAA_NO and B.mB_NO = L.mB_NO and b.mc_no = l.mc_no and b.user_no = l.user_no
                                              join makeup_product p
                                                   on L.mP_NO = P.mP_NO and L.mC_NO  = P.mC_NO
                                                   WHERE  m.maa_stat = '낙찰'
                                              UNION 
                                              SELECT s.saa_no                                                   no ,
                                                     u.user_no                                                  userno ,
                                                     u.user_nm                                                  writer ,
                                                     s.saa_loc                                                  loc ,
                                                     Substr(To_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),0,10)     day , 
                                                     Substr(To_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),12,7)     TIME , 
                                                     Substr(To_char(s.saa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline , 
                                                     s.saa_memo                                                 memo ,
                                                     s.saa_stat                                                 stat ,
                                                     To_char(s.regdate, 'YYYY-MM-DD')                           regdate , 
                                                     'studio'                                                   TYPE,
                                                     l.sbpl_discount                                        discount,
                                                     p.sp_price                                             price
                                              FROM   studio_auction_apply s 
                                              JOIN users u 
                                                   ON s.user_no = u.user_no
                                              join studio_bid b   
                                                   on s.saa_no = b.saa_no and s.user_no = b.user_no
                                              join studio_bid_product_list l
                                                   on B.sAA_NO = L.sAA_NO and B.sB_NO = L.sB_NO and b.sc_no = l.sc_no and b.user_no = l.user_no
                                              join studio_product p
                                                   on L.sP_NO = P.sP_NO and L.sC_NO  = P.sC_NO 
                                              WHERE  s.saa_stat = '낙찰'     
                                              ) s 
                              ORDER BY regdate DESC ) m ) a
                        where page = #{page} 
             </select>
             

<select id="countPage" resultType="int">
SELECT count(*) 
  FROM    (SELECT *
           FROM dress_auction_apply 
          WHERE daa_stat = '입찰중' OR daa_stat = '낙찰대기중'
          UNION ALL 
         SELECT * 
           FROM studio_auction_apply
          WHERE saa_stat = '입찰중' OR saa_stat = '낙찰대기중' 
          UNION ALL 
         SELECT * 
           FROM makeup_auction_apply
          WHERE maa_stat = '입찰중' OR maa_stat = '낙찰대기중'
)
</select>

<!--  스드메 별 전체 리스트 조회 + 페이징 처리 -->
<select id="listByDress" parameterType="SearchParams" resultType="Auction">
 SELECT M.*
  FROM (SELECT CEIL(rownum / #{perPageNum}) page 
             , S.*
          FROM ( SELECT  d.daa_no  no
                      , u.user_no userNo
                      , u.user_nm writer
                      , d.daa_loc loc
                      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
                      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
                      , TO_CHAR(d.daa_deadline, 'YYYY-MM-DD') deadline
                      , d.daa_memo memo
                      , d.daa_stat stat
                      , TO_CHAR(d.regdate, 'YYYY-MM-DD') regdate
                      ,'dress' type
                FROM   dress_auction_apply d
                       JOIN users u 
                       
                         ON d.user_no = u.user_no
               WHERE d.daa_stat = '입찰중' OR  d.daa_stat = '낙찰대기중') S
        ) M
 WHERE page = #{page}
 ORDER BY regdate DESC
</select>
<select id="listByMakeup" parameterType="SearchParams" resultType="Auction">
 SELECT M.*
    FROM (SELECT CEIL(rownum / #{perPageNum}) page 
             , S.*
          FROM (SELECT m.maa_no  no
                     , u.user_no userNo
                     , u.user_nm writer   
                     , m.maa_loc loc
                     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
                     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
                     , SUBSTR(TO_CHAR(m.maa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
                     , m.maa_memo memo
                     , m.maa_stat stat
                     , TO_CHAR(m.regdate, 'YYYY-MM-DD') regdate
                     ,'makeup' type
                  FROM makeup_auction_apply m
                       JOIN users u 
                         ON m.user_no = u.user_no
                WHERE m.maa_stat = '입찰중' OR  m.maa_stat = '낙찰대기중') S
        ) M
  WHERE page = #{page}
  ORDER BY regdate DESC
        
</select>
<select id="listByStudio" parameterType="SearchParams" resultType="Auction">
 SELECT M.*
  FROM (SELECT CEIL(rownum / #{perPageNum}) page 
             , S.*
          FROM ( SELECT  s.saa_no  no
                      , u.user_no userNo
                      , u.user_nm writer
                      , s.saa_loc loc
                      , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
                      , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
                      , TO_CHAR(s.saa_deadline, 'YYYY-MM-DD') deadline
                      , s.saa_memo memo
                      , s.saa_stat stat
                      , TO_CHAR(s.regdate, 'YYYY-MM-DD') regdate
                      ,'studio' type
                FROM   studio_auction_apply s
                       JOIN users u 
                         ON s.user_no = u.user_no
               WHERE s.saa_stat = '입찰중' OR  s.saa_stat = '낙찰대기중') S
        ) M
 WHERE page = #{page}
 ORDER BY regdate DESC

</select>

<!--  스드메 별 낙찰 리스트 조회 + 페이징 처리 -->
<select id="winlistByDress" parameterType="SearchParams" resultType="Auction">
select l.*
from(select ceil(rownum/#{perPageNum}) page,
     k.*
from (SELECT     i.*, 
           j.dc_nm    companyNm,
           j.dc_tel   tel
FROM      ( 
                      SELECT     g.*, 
                                 h.dp_nm       productNm,
                                 h.dp_price  price
                      FROM      ( 
                                            SELECT     e.*, 
                                                       f.dbpl_discount  discount,
                                                       f.dbpl_meet_date meetDate,
                                                       f.dp_no          productNo
                                            FROM      ( 
                                                                  SELECT     c.*, 
                                                                             d.db_no bidNo,
                                                                             d.dc_no companyNo
                                                                  FROM       ( 
                                                                                        SELECT     a.daa_no           applyno,
                                                                                                   a.daa_select_db_no select,
                                                                                                   b.user_no          userNo,
                                                                                                   b.user_nm          writer
                                                                                        FROM       dress_auction_apply a
                                                                                        inner join users b
                                                                                        ON         a.user_no = b.user_no) c
                                                                  inner join dress_bid d 
                                                                  ON         c.applyNo = d.daa_no and c.dsdn = d.db_no) e
                                            inner join dress_bid_product_list f 
                                            ON         e.bidNo = f.db_no ) g 
                      inner join dress_product h 
                      ON         g.productNo = h.dp_no) i 
inner join dress_company j 
ON         i.companyNo = j.dc_no ) k ) l
where page = #{page}
</select>
<select id="winlistByMakeup" parameterType="SearchParams" resultType="Auction">
select l.*
from(select ceil(rownum/#{perPageNum}) page,
     k.*
from (SELECT     i.*, 
           j.mc_nm    companyNm,
           j.mc_tel   tel
FROM      ( 
                      SELECT     g.*, 
                                 h.mp_nm       productNm,
                                 h.mp_price  price
                      FROM      ( 
                                            SELECT     e.*, 
                                                       f.mbpl_discount  discount,
                                                       f.mbpl_meet_date meetDate,
                                                       f.mp_no          productNo
                                            FROM      ( 
                                                                  SELECT     c.*, 
                                                                             d.mb_no bidNo,
                                                                             d.mc_no companyNo
                                                                  FROM       ( 
                                                                                        SELECT     a.maa_no           applyno,
                                                                                                   a.maa_select_mb_no selectNo,
                                                                                                   b.user_no          userNo,
                                                                                                   b.user_nm          writer
                                                                                        FROM       makeup_auction_apply a
                                                                                        inner join users b
                                                                                        ON         a.user_no = b.user_no) c
                                                                  inner join makeup_bid d 
                                                                  ON         c.applyNo = d.maa_no and c.selectNo = d.mb_no) e
                                            inner join makeup_bid_product_list f 
                                            ON         e.bidNo = f.mb_no ) g 
                      inner join makeup_product h 
                      ON         g.productNo = h.mp_no) i 
inner join makeup_company j 
ON         i.companyNo = j.mc_no ) k ) l
where page = #{page}
        
</select>
<select id="winlistByStudio" parameterType="SearchParams" resultType="Auction">
select l.*
from(select ceil(rownum/#{perPageNum}) page,
     k.*
from (SELECT     i.*, 
           j.sc_nm    companyNm,
           j.sc_tel   tel
FROM      ( 
                      SELECT     g.*, 
                                 h.sp_nm       productNm,
                                 h.sp_price    price
                      FROM      ( 
                                            SELECT     e.*, 
                                                       f.sbpl_discount  discount,
                                                       f.sbpl_meet_date meetDate,
                                                       f.sp_no          productNo
                                            FROM      ( 
                                                                  SELECT     c.*, 
                                                                             d.sb_no bidNo,
                                                                             d.sc_no companyNo
                                                                  FROM       ( 
                                                                                        SELECT     a.saa_no           applyNo,
                                                                                                   a.saa_select_sb_no selectNo,
                                                                                                   b.user_no          userNo,
                                                                                                   b.user_nm          writer
                                                                                        FROM       studio_auction_apply a
                                                                                        inner join users b
                                                                                        ON         a.user_no = b.user_no) c
                                                                  inner join studio_bid d 
                                                                  ON         c.applyNo = d.saa_no and c.selectNo = d.sb_no) e
                                            inner join studio_bid_product_list f 
                                            ON         e.bidNo = f.sb_no ) g 
                      inner join studio_product h 
                      ON         g.productNo = h.sp_no) i 
inner join studio_company j 
ON         i.companyNo = j.sc_no ) k ) l
where page = #{page}

</select>



<select id="listByTypeCount" parameterType="SearchParams" resultType="int">
<choose>
<when test="searchType == 'dress'">
  SELECT count(*) count 
   FROM dress_auction_apply 
  WHERE daa_stat = '입찰중' OR daa_stat = '낙찰대기중'
 </when>
 <when test="searchType == 'studio'">
  SELECT count(*) count 
   FROM studio_auction_apply
  WHERE saa_stat = '입찰중' OR saa_stat = '낙찰대기중' 
 </when>
 <when test="searchType == 'makeup'">
  SELECT count(*) count 	
    FROM makeup_auction_apply
   WHERE maa_stat = '입찰중' OR maa_stat = '낙찰대기중'
 </when>
 <otherwise>
 SELECT count(*) count
  FROM    (SELECT *
           FROM dress_auction_apply 
          WHERE daa_stat = '입찰중' OR daa_stat = '낙찰대기중'
          UNION ALL 
         SELECT * 
           FROM studio_auction_apply
          WHERE saa_stat = '입찰중' OR saa_stat = '낙찰대기중' 
          UNION ALL 
         SELECT * 
           FROM makeup_auction_apply
          WHERE maa_stat = '입찰중' OR maa_stat = '낙찰대기중'
)
 </otherwise>
 </choose>
</select>

<select id="winlistByTypeCount" parameterType="SearchParams" resultType="int">
<choose>
<when test="searchType == 'dress'">
  SELECT count(*) count 
   FROM dress_auction_apply 
  WHERE daa_stat = '낙찰'
 </when>
 <when test="searchType == 'studio'">
  SELECT count(*) count 
   FROM studio_auction_apply
  WHERE saa_stat = '낙찰' 
 </when>
 <when test="searchType == 'makeup'">
  SELECT count(*) count 	
    FROM makeup_auction_apply
   WHERE maa_stat = '낙찰'
 </when>
 <otherwise>
 SELECT count(*) count
  FROM    (SELECT *
           FROM dress_auction_apply 
          WHERE daa_stat = '낙찰'
          UNION ALL 
         SELECT * 
           FROM studio_auction_apply
          WHERE saa_stat = '낙찰'  
          UNION ALL 
         SELECT * 
           FROM makeup_auction_apply
          WHERE maa_stat = '낙찰' 
)
 </otherwise>
 </choose>
</select>

<!-- 스튜디오 입찰 실시간 조회  -->
<select id="realtimelist" parameterType="map" resultType="Auction">
<![CDATA[
SELECT M.*
     , (SELECT USER_NM FROM USERS u WHERE u.user_no = M.userNo) writer
  FROM   (SELECT rownum rnum,
               saa_no no,                      
               user_no userNo,  
               saa_loc loc,  
               saa_date day, 
               saa_memo memo,
               TO_CHAR(saa_deadline, 'YYYY-MM-DD') deadline,
               regdate ,
               updatedate,
               saa_stat stat
        FROM   (SELECT 
               saa_no ,                      
               user_no ,  
               saa_loc ,  
               saa_date , 
               saa_memo ,
               saa_deadline,
               regdate ,
               updatedate,
               saa_stat
                FROM   studio_auction_apply 
                WHERE  saa_no > 0
                ORDER  BY saa_no DESC, 
                          regdate desc)) M
                where stat = '입찰중' or stat ='낙찰대기중'
]]>
</select>

<!-- 스튜디오 낙찰 실시간 조회  -->
<select id="winrealtimelist" parameterType="map" resultType="Auction">
<![CDATA[
SELECT M.*
     , (SELECT USER_NM FROM USERS u WHERE u.user_no = M.userNo) writer
  FROM   (SELECT rownum rnum,
               saa_no no,                      
               user_no userNo,  
               saa_loc loc,  
               saa_date day, 
               saa_memo memo,
               TO_CHAR(saa_deadline, 'YYYY-MM-DD') deadline,
               regdate ,
               updatedate,
               saa_stat stat
        FROM   (SELECT 
               saa_no ,                      
               user_no ,  
               saa_loc ,  
               saa_date , 
               saa_memo ,
               saa_deadline,
               regdate ,
               updatedate,
               saa_stat
                FROM   studio_auction_apply 
                WHERE  saa_no > 0
                ORDER  BY saa_no DESC, 
                          regdate desc)) M
                where stat = '낙찰'
]]>
</select>


<!-- 드레스 입찰 실시간 조회  -->
<select id="dressrealtimelist" parameterType="map" resultType="Auction">
<![CDATA[
SELECT M.*
     , (SELECT USER_NM FROM USERS u WHERE u.user_no = M.userNo) writer
  FROM   (SELECT rownum rnum,
               daa_no no,                      
               user_no userNo,  
               daa_loc loc,  
               daa_date day, 
               daa_memo memo,
               TO_CHAR(daa_deadline, 'YYYY-MM-DD') deadline,
               regdate ,
               updatedate,
               daa_stat stat
        FROM   (SELECT 
               daa_no ,                      
               user_no ,  
               daa_loc ,  
               daa_date , 
               daa_memo ,
               daa_deadline,
               regdate ,
               updatedate,
               daa_stat
                FROM   dress_auction_apply 
                WHERE  daa_no > 0
                ORDER  BY daa_no DESC, 
                          regdate desc)) M
                where stat = '입찰중' or stat ='낙찰대기중'
]]>
</select>

<!-- 드레스 낙찰 실시간 조회  -->
<select id="dresswinrealtimelist" parameterType="map" resultType="Auction">
<![CDATA[
SELECT M.*
     , (SELECT USER_NM FROM USERS u WHERE u.user_no = M.userNo) writer
  FROM   (SELECT rownum rnum,
               daa_no no,                      
               user_no userNo,  
               daa_loc loc,  
               daa_date day, 
               daa_memo memo,
               TO_CHAR(daa_deadline, 'YYYY-MM-DD') deadline,
               regdate ,
               updatedate,
               daa_stat stat
        FROM   (SELECT 
               daa_no ,                      
               user_no ,  
               daa_loc ,  
               daa_date , 
               daa_memo ,
               daa_deadline,
               regdate ,
               updatedate,
               daa_stat
                FROM   dress_auction_apply 
                WHERE  daa_no > 0
                ORDER  BY daa_no DESC, 
                          regdate desc)) M
                where stat = '낙찰'
]]>
</select>


<!-- 메이크업 입찰 실시간 조회  -->
<select id="makeuprealtimelist" parameterType="map" resultType="Auction">
<![CDATA[
SELECT M.*
     , (SELECT USER_NM FROM USERS u WHERE u.user_no = M.userNo) writer
  FROM   (SELECT rownum rnum,
               maa_no no,                      
               user_no userNo,  
               maa_loc loc,  
               maa_date day, 
               maa_memo memo,
               TO_CHAR(maa_deadline, 'YYYY-MM-DD') deadline,
               regdate ,
               updatedate,
               maa_stat stat
        FROM   (SELECT 
               maa_no ,                      
               user_no ,  
               maa_loc ,  
               maa_date , 
               maa_memo ,
               maa_deadline,
               regdate ,
               updatedate,
               maa_stat
                FROM   makeup_auction_apply 
                WHERE  maa_no > 0
                ORDER  BY maa_no DESC, 
                          regdate desc)) M
                where stat = '입찰중' or stat ='낙찰대기중'
]]>
</select>


<!-- 메이크업 낙찰 실시간 조회  -->
<select id="makeupwinrealtimelist" parameterType="map" resultType="Auction">
<![CDATA[
SELECT M.*
     , (SELECT USER_NM FROM USERS u WHERE u.user_no = M.userNo) writer
  FROM   (SELECT rownum rnum,
               maa_no no,                      
               user_no userNo,  
               maa_loc loc,  
               maa_date day, 
               maa_memo memo,
               TO_CHAR(maa_deadline, 'YYYY-MM-DD') deadline,
               regdate ,
               updatedate,
               maa_stat stat
        FROM   (SELECT 
               maa_no ,                      
               user_no ,  
               maa_loc ,  
               maa_date , 
               maa_memo ,
               maa_deadline,
               regdate ,
               updatedate,
               maa_stat
                FROM   makeup_auction_apply 
                WHERE  maa_no > 0
                ORDER  BY maa_no DESC, 
                          regdate desc)) M
                where stat = '낙찰'
]]>
</select>

<!-- 디 데이 !  -->
<select id="daycount"  parameterType="map" resultType="kr.co.udf.auction.domain.DayCount">
<![CDATA[
SELECT c.day   
     , TRUNC(MOD(c.SI, 24)+3) AS SI,TRUNC(MOD(c.MIN, 60)) AS MIN, TRUNC(MOD(c.sec, 60)) AS sec
  FROM (SELECT b.COL*24*60 AS min
             , b.COL*24 AS si
             , b.COL*24*60*60 AS sec
             , TRUNC(b.COL) AS DAY          
          FROM (SELECT TO_DATE(to_char(deadline,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') - TO_DATE(to_char(sysdate, 'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') COL
                  FROM (SELECT M.no
                             , M.deadline
                             , M.type
	  		 		      FROM ( 
                				SELECT d.daa_no no
                     				 , d.daa_deadline deadline
				                     , 'dress' type
				                  FROM dress_auction_apply d
				                UNION
				                SELECT s.saa_no no
				                     , s.saa_deadline deadline
				                     , 'studio' type
				                  FROM studio_auction_apply s
				                UNION
				                SELECT m.maa_no no
				                     , m.maa_deadline deadline
				                     , 'makeup' type
				                  FROM makeup_auction_apply m
				               ) M
				         WHERE M.no = #{no}
				           AND M.type = #{type}
				           AND M.deadline > sysdate
				       ) a
 				) b
		) c
]]>
</select>


</mapper>