<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.udf.auction.dao.MyBatisAuctionBidDao">
  
 <!-- 게시물 상세 조회 -->


<!--  (페이징 처리 없이) 전체 신청 리스트 조회 -->

<!--  스드메 신청서 신규 작성 -->
<insert id="createMakeupBid" parameterType="AuctionBid">
INSERT INTO makeup_bid (
       mb_no
     , mc_no
     , maa_no
     , user_no
     , regdate
     , updatedate)
VALUES (makeup_bid_seq.NEXTVAL
      , #{companyNo}
      , #{applyNo}
      , #{userNo}
      , TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:MI')
      , TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:MI'))
</insert>

<insert id="createDressBid" parameterType="AuctionBid">
INSERT INTO dress_bid (
       db_no
     , dc_no
     , daa_no
     , user_no
     , regdate
     , updatedate)
VALUES (dress_bid_seq.NEXTVAL
      , #{companyNo}
      , #{applyNo}
      , #{userNo}
      , TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:MI')
      , TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:MI'))
</insert>

<insert id="createStudioBid" parameterType="AuctionBid">
INSERT INTO studio_bid (
       sb_no
     , sc_no
     , saa_no
     , user_no
     , regdate
     , updatedate)
VALUES (studio_bid_seq.NEXTVAL
      , #{companyNo}
      , #{applyNo}
      , #{userNo}
      , TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:MI')
      , TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:MI'))
</insert>

<!-- 입찰서 생성 시 상품 리스트 생성 -->
<insert id="createStudioProd" parameterType="AuctionBid">
INSERT INTO studio_bid_product_list 
      (sbpl_no
     , sb_no
     , user_no
     , saa_no
     , sc_no
     , sp_no
     , sbpl_discount
     , sbpl_meet_date
     , regdate
     , updatedate)
VALUES (studio_bid_product_list_seq.NEXTVAL
      , studio_bid_seq.CURRVAL
      , #{userNo}
      , #{applyNo}
      , #{companyNo}
      , #{productNo}
      , #{discount}
      , TO_DATE(#{meetDate}, 'YYYY-MM-DD')
      , TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:MI')
      , TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:MI'))
</insert>

<insert id="createDressProd" parameterType="AuctionBid">
INSERT INTO dress_bid_product_list 
      (dbpl_no
     , db_no
     , user_no
     , daa_no
     , dc_no
     , dp_no
     , dbpl_discount
     , dbpl_meet_date
     , regdate
     , updatedate)
VALUES (dress_bid_product_list_seq.NEXTVAL
      , dress_bid_seq.CURRVAL
      , #{userNo}
      , #{applyNo}
      , #{companyNo}
      , #{productNo}
      , #{discount}
      , TO_DATE(#{meetDate}, 'YYYY-MM-DD')
      , TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:MI')
      , TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:MI'))
</insert>

<insert id="createMakeupProd" parameterType="AuctionBid">
INSERT INTO dress_bid_product_list 
      (mbpl_no
     , mb_no
     , user_no
     , maa_no
     , mc_no
     , mp_no
     , mbpl_discount
     , mbpl_meet_date
     , regdate
     , updatedate)
VALUES (makeup_bid_product_list_seq.NEXTVAL
      , makeup_bid_seq.CURRVAL
      , #{userNo}
      , #{applyNo}
      , #{companyNo}
      , #{productNo}
      , #{discount}
      , TO_DATE(#{meetDate}, 'YYYY-MM-DD')
      , TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:MI')
      , TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:MI'))
</insert>

<!-- 타입 별로 회사 정보 출력하는 sql -->
<select id="searchMakeupCompany" parameterType="int" resultType="MakeupCompany">
SELECT mc.mc_no         companyNo, 
       mc.mc_nm         nm, 
       mc.mc_company_no regNo, 
       mc.mc_main_nm    headName, 
       mc.mc_addr       addr, 
       mc.mc_main_image mainImage, 
       mc.mc_email      email, 
       mc.mc_tel        tel, 
       mc.mc_introduce  introduce, 
       'mc'             role 
FROM   makeup_company mc 
WHERE mc.mc_no = #{no}
</select>

<select id="searchStudioCompany" parameterType="int" resultType="StudioCompany">

SELECT sc.sc_no         companyNo, 
       sc.sc_nm         nm, 
       sc.sc_company_no regNo, 
       sc.sc_main_nm    headName, 
       sc.sc_addr       addr, 
       sc.sc_main_image mainImage, 
       sc.sc_email      email, 
       sc.sc_tel        tel, 
       sc.sc_introduce  introduce, 
       'sc'             ROLE 
FROM   studio_company sc 
WHERE  sc.sc_no = #{no}

</select>

<select id="searchDressCompany" parameterType="int" resultType="DressCompany">
SELECT dc.dc_no         companyNo, 
       dc.dc_nm         nm, 
       dc.dc_company_no regNo, 
       dc.dc_main_nm    headName, 
       dc.dc_addr       addr, 
       dc.dc_main_image mainImage, 
       dc.dc_email      email, 
       dc.dc_tel        tel, 
       dc.dc_introduce  introduce, 
       'dc'             role 
FROM   dress_company dc 
WHERE dc.dc_no  = #{no}

</select>

<!-- 회사 별로 상품 정보 출력하는 sql -->
<select id="searchStudioProduct" parameterType="int" resultType="StudioProduct">
select   sp_no          productNo
       , sc_no          companyNo 
       , sp_nm          productNm
       , sp_price       price
       , sp_apv_yn      apvYn
       , sp_total_yn    totalYn
       , sp_shoot_type  shootType
       , sp_image       productImage
       , regdate        regdate
       , updatedate     updatedate
from studio_product
where sc_no = #{companyNo}
</select>

<select id="searchDressProduct" parameterType="int" resultType="DressProduct">
select   dp_no          productNo
       , dc_no          companyNo 
       , dp_nm          productNm
       , dp_price       price
       , dp_style       style 
       , dp_image       productImage
       , regdate        regdate
       , updatedate     updatedate
from dress_product
where dc_no = #{companyNo}
</select>

<select id="searchMakeupProduct" parameterType="int" resultType="MakeupProduct">
select   mp_no          productNo
       , mc_no          companyNo 
       , mp_nm          productNm
       , mp_price       price
       , mp_acc_yn      accYn
       , mp_family_yn   familyYn
       , mp_hair_yn     hairYn
       , mp_image       productImage
       , regdate        regdate
       , updatedate     updatedate
from makeup_product
where mc_no = #{companyNo}
</select>
<select id="listByUser" parameterType="int" resultType="AuctionBid">
select M.*
FROM  (select  mb_no    bidNo
             , mc_no    companyNo
             , maa_no   applyNo
             , user_no  userNo
             , regdate
             , updatedate
         from makeup_bid
         where user_no = #{userNo}
        union
        select  db_no    bidNo
              , dc_no    companyNo
              , daa_no   applyNo
              , user_no  userNo
              , regdate
              , updatedate
         from dress_bid
         where user_no = #{userNo}
         union
         select  sb_no    bidNo
               , sc_no    companyNo
               , saa_no   applyNo
               , user_no  userNo
               , regdate
               , updatedate
          from studio_bid
          where user_no = #{userNo}) M
</select>

<select id="listByApplyNo" parameterType="AuctionBid" resultType="AuctionBid">
select M.*
FROM  (select  mb_no    bidNo
             , mc_no    companyNo
             , maa_no   applyNo
             , user_no 
             , regdate
             , updatedate
         from makeup_bid
        union
        select  db_no    bidNo
              , dc_no    companyNo
              , daa_no   applyNo
              , user_no  
              , regdate
              , updatedate
         from dress_bid
         union
         select  sb_no    bidNo
               , sc_no    companyNo
               , saa_no   applyNo
               , user_no 
               , regdate
               , updatedate
          from studio_bid ) M
where user_no = #{userNo} and applyNo = #{applyNo}
</select>

<!-- 게시물 조회 -->
<select id="winread" resultType="AuctionBid">
select d.*
from (SELECT  d.daa_no  no
      , u.user_no userNo
      , u.user_nm writer
      , NVL(u.user_tel, null) tel
      , d.daa_loc loc
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
      , TO_CHAR(d.daa_deadline, 'YYYY-MM-DD') deadline
      , d.daa_memo memo
      , d.daa_stat stat
      , TO_CHAR(d.regdate, 'YYYY-MM-DD') regdate
      ,'dress' type
      , b.dbpl_discount discount
      , b.dBPL_MEET_DATE meetDate
      , c.dc_NM cnm
      , r.dp_NM pnm
      , c.dc_tel ctel
      , r.dp_price price
FROM   dress_auction_apply d
       JOIN users u 
         ON d.user_no = u.user_no
       Join DRESS_BID_PRODUCT_LIST b
         ON d.user_no = b.user_no
       join dress_company c
         on b.dc_no = c.dc_no
       join dress_product r
        on c.dc_no = r.dc_no
UNION
SELECT m.maa_no  no
     , u.user_no userNo
     , u.user_nm writer   
     , NVL(u.user_tel, null) tel
     , m.maa_loc loc
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(m.maa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , m.maa_memo memo
     , m.maa_stat stat
     , TO_CHAR(m.regdate, 'YYYY-MM-DD') regdate
     ,'makeup' type
     , b.mbpl_discount discount
     , b.mBPL_MEET_DATE meetDate
     , c.mc_NM cnm
     , r.mp_NM pnm
     , c.mc_tel ctel
     , r.mp_price price
  FROM makeup_auction_apply m
       JOIN users u 
         ON m.user_no = u.user_no
         Join makeup_BID_PRODUCT_LIST b
         ON m.user_no = b.user_no
       join makeup_company c
         on b.mc_no = c.mc_no
       join makeup_product r
        on c.mc_no = r.mc_no
UNION
SELECT s.saa_no  no
     , u.user_no userNo
     , u.user_nm writer
     , NVL(u.user_tel, null) tel
     , s.saa_loc loc
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(s.saa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , s.saa_memo memo
     , s.saa_stat stat
     , TO_CHAR(s.regdate, 'YYYY-MM-DD') regdate
     , 'studio' type
     , b.sbpl_discount discount
     , b.sBPL_MEET_DATE meetDate
     , c.sc_NM cnm
     , r.sp_NM pnm
     , c.sc_tel ctel
     , r.sp_price price
  FROM studio_auction_apply s
       JOIN users u
         ON s.user_no = u.user_no
         Join studio_BID_PRODUCT_LIST b
         ON s.user_no = b.user_no
       join studio_company c
         on b.sc_no = c.sc_no
       join studio_product r
        on c.sc_no = r.sc_no) d
 WHERE no = #{no} and type = #{type}
   </select>   
   
<select id="readStudioProduct" resultType="StudioProduct">
SELECT   sp_no           productNo
       , sc_no           companyNo
       , sp_nm           productNm
       , sp_price        price
       , sp_apv_yn       apvYn
       , sp_total_yn     totalYn
       , sp_shoot_type   shootType
       , sp_image        productImage
       , regdate
       , updatedate
FROM studio_product
WHERE sp_no = #{productNo} AND sc_no = #{companyNo}

</select>


</mapper>