<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="kr.co.udf.company.dao.DressCompanyDao"> 
	<select id="listDress" resultType="kr.co.udf.common.company.domain.DressCompany">
	<![CDATA[
	SELECT sc_no companyNo, 
	dc_nm nm, 
	dc_company_no regNo, 
	dc_main_nm headName, 
	dc_addr addr, 
	dc_main_image mainImage, 
	dc_email email, 
	dc_pw pw, 
	dc_tel tel, 
	dc_introduce introduce, 
	sessionkey, 
	regdate, 
	updatedate
	FROM dress_company
	]]> 
	</select>

	<select id="detailDress" resultType="kr.co.udf.common.company.domain.DressCompany">
	<![CDATA[
	SELECT
		dc_no AS companyNo 
		dc_nm AS nm,
		dc_company_no AS regNo, 
		dc_main_nm AS headName, 
		dc_addr AS addr, 
		dc_main_image AS mainImage, 
		dc_email AS email, 
		dc_tel AS tel, 
		dc_introduce AS introduce
	FROM dress_company
	WHERE dc_no = #{companyNo}
	]]> 
	</select>	
</mapper>