<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="kr.co.udf.company.dao.DressDao"> 
	<select id="listDress" resultType="kr.co.udf.common.company.domain.DressCompany">
	<![CDATA[
	SELECT dc_no, 
	dc_nm, 
	dc_company_no, 
	dc_main_nm, 
	dc_addr, 
	dc_main_image, 
	dc_email, 
	dc_pw, 
	dc_tel, 
	dc_introduce, 
	sessionkey, 
	regdate, 
	updatedate
	FROM dress_company
	]]> 
	</select>

		<select id="DressPage" resultType="kr.co.udf.common.company.domain.DressCompany">
	 <![CDATA[
SELECT *
FROM (SELECT CEIL (rownum / 10) page,
	dc_no, 
	dc_nm, 
	dc_company_no, 
	dc_main_nm, 
	dc_addr, 
	dc_main_image, 
	dc_email, 
	dc_pw, 
	dc_tel, 
	dc_introduce, 
	sessionkey, 
	regdate, 
	updatedate
FROM (SELECT *
	FROM dress_company order by dc_no desc))
	WHERE page = #{page}
 	]]>
	</select>
	
		<select id="DressCri" resultType="kr.co.udf.common.company.domain.DressCompany">
	 <![CDATA[
	SELECT
  	*
	FROM
 	 (
 	SELECT rownum rn,
    dc_no, 
	dc_nm, 
	dc_company_no, 
	dc_main_nm, 
	dc_addr, 
	dc_main_image, 
	dc_email, 
	dc_pw, 
	dc_tel, 
	dc_introduce, 
	sessionkey, 
	regdate, 
	updatedate
 	FROM dress_company
 	WHERE rownum <= #{page} * #{perPageNum}
 	 and dc_no > 0
 	  order by dc_no desc
 	 )
	where rn > (#{page} -1) * #{perPageNum}
 	]]>
	</select>
	
	<select id="DressCount" resultType="int">
	 <![CDATA[
	SELECT count(dc_no)
	FROM dress_company
	WHERE dc_no > 0
	]]>
	</select>
	
	
<sql id="searchDress">
   <if test="searchType == 'name'.toString()">
     and dc_nm like '%'|| #{keyword}||'%'
   </if>
   <if test="searchType == 'addr'.toString()">
     and dc_addr like '%'|| #{keyword}||'%'
   </if>
</sql>

	
	<select id="DressSearch" resultType="kr.co.udf.common.company.domain.DressCompany">
<![CDATA[
	select *
	from
 	 (
 	SELECT rownum rn,
 	dc_no, 
	dc_nm, 
	dc_company_no, 
	dc_main_nm, 
	dc_addr, 
	dc_main_image, 
	dc_email, 
	dc_pw, 
	dc_tel, 
	dc_introduce, 
	sessionkey, 
	regdate, 
	updatedate
 	FROM dress_company
 	 where 1=1
 	 ]]>
 	   <include refid="searchDress"></include>
<![CDATA[ 
 	 and rownum <= #{page} * #{perPageNum}
 	 and dc_no > 0
     order by dc_no DESC
 	 )
	where rn > (#{page} -1) * #{perPageNum}
 	]]>
 		
	</select>
 	
 		<select id="DressSearchCount" resultType="int">
	 <![CDATA[
	select count(dc_no)
	from dress_company
	where dc_no > 0
	]]>
	   <include refid="searchDress"></include>
	</select>	

</mapper>