<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="kr.co.udf.company.dao.MakeupCompanyDao"> 
	<select id="listMakeup" resultType="kr.co.udf.common.company.domain.MakeupCompany">
	<![CDATA[
	SELECT mc_no companyNo, 
	mc_nm nm, 
	mc_company_no regNo, 
	mc_main_nm headName, 
	mc_addr addr, 
	mc_main_image mainImage, 
	mc_email email, 
	mc_pw pw, 
	mc_tel tel, 
	mc_introduce introduce, 
	sessionkey, 
	regdate, 
	updatedate
	FROM makeup_company
	]]> 
	</select>

	<select id="detailMakeup" resultType="kr.co.udf.common.company.domain.MakeupCompany">
	<![CDATA[
	SELECT
		mc_no AS companyNo 
		mc_nm AS nm,
		mc_company_no AS regNo, 
		mc_main_nm AS headName, 
		mc_addr AS addr, 
		mc_main_image AS mainImage, 
		mc_email AS email, 
		mc_tel AS tel, 
		mc_introduce AS introduce
	FROM makeup_company
	WHERE mc_no = #{companyNo}
	]]> 
	</select>	
</mapper>