<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="kr.co.udf.company.dao.MakeupDao"> 
	<select id="listMakeup" resultType="kr.co.udf.common.company.domain.MakeupCompany">
	<![CDATA[
	SELECT mc_no, 
	mc_nm, 
	mc_company_no, 
	mc_main_nm, 
	mc_addr, 
	mc_main_image, 
	mc_email, 
	mc_pw, 
	mc_tel, 
	mc_introduce,
	sessionkey, 
	regdate, 
	updatedate
	FROM makeup_company
	]]> 
	</select>

		<select id="MakeupPage" resultType="kr.co.udf.common.company.domain.MakeupCompany">
	 <![CDATA[
SELECT *
FROM (SELECT CEIL (rownum / 10) page,
	sc.mc_no, 
	sc.mc_nm, 
	sc.mc_company_no, 
	sc.mc_main_nm, 
	sc.mc_addr, 
	sc.mc_main_image, 
	sc.mc_email, 
	sc.mc_pw, 
	sc.mc_tel, 
	sc.mc_smy_intro, 
	sc.mc_introduce, 
	sc.sessionkey, 
	sc.regdate, 
	sc.updatedate
   ROUND((SELECT AVG(sr.mr_point) FROM makeup.review sr WHERE sr.mc_no = sc.mc_no), 1) avg,
   (SELECT count(*) FROM makeup_review sr WHERE sr.mc_no = sc.mc_no) count
FROM (SELECT *
   FROM studio_company order by mc_no desc) sc)
WHERE page = #{page}
 	]]>
	</select>
	
		<select id="MakeupCri" resultType="kr.co.udf.common.company.domain.MakeupCompany">
	 <![CDATA[
	SELECT
  	*
	FROM
 	 (
 	SELECT rownum rn,
	sc.mc_no, 
	sc.mc_nm, 
	sc.mc_company_no, 
	sc.mc_main_nm, 
	sc.mc_addr, 
	sc.mc_main_image, 
	sc.mc_email, 
	sc.mc_pw, 
	sc.mc_tel, 
	sc.mc_smy_intro, 
	sc.mc_introduce, 
	sc.sessionkey, 
	sc.regdate, 
	sc.updatedate
	  ROUND((SELECT AVG(sr.mr_point) FROM makeup.review sr WHERE sr.mc_no = sc.mc_no), 1) avg,
   (SELECT count(*) FROM makeup_review sr WHERE sr.mc_no = sc.mc_no) count
 	FROM makeup_company sc
 	WHERE rownum <= #{page} * #{perPageNum}
 	 and sc.mc_no > 0
 	  order by sc.mc_no DESC
 	 )
	where rn > (#{page} -1) * #{perPageNum}
 	]]>
	</select>
	
	<select id="MakeupCount" resultType="int">
	 <![CDATA[
	SELECT count(mc_no)
	FROM makeup_company
	WHERE mc_no > 0
	]]>
	</select>
	
	
<sql id="searchMakeup">
   <if test="searchType == 'name'.toString()">
     and mc_nm like '%'|| #{keyword}||'%'
   </if>
   <if test="searchType == 'addr'.toString()">
     and mc_addr like '%'|| #{keyword}||'%'
   </if>
</sql>

	
	<select id="MakeupSearch" resultType="kr.co.udf.common.company.domain.MakeupCompany">
<![CDATA[
	select *
	from
 	 (
 	SELECT rownum rn,
    sc.mc_no, 
	sc.mc_nm, 
	sc.mc_company_no, 
	sc.mc_main_nm, 
	sc.mc_addr, 
	sc.mc_main_image, 
	sc.mc_email, 
	sc.mc_pw, 
	sc.mc_tel, 
	sc.mc_smy_intro, 
	sc.mc_introduce, 
	sc.sessionkey, 
	sc.regdate, 
	sc.updatedate,
	  ROUND((SELECT AVG(sr.mr_point) FROM makeup_review sr WHERE sr.mc_no = sc.mc_no), 1) avg,
   (SELECT count(*) FROM makeup_review sr WHERE sr.mc_no = sc.mc_no) count
    FROM makeup_company sc
 	 where 1=1
 	 ]]>
 	   <include refid="searchMakeup"></include>
<![CDATA[ 
 	 and rownum <= #{page} * #{perPageNum}
 	 and mc_no > 0
     order by mc_no DESC
 	 )
	where rn > (#{page} -1) * #{perPageNum}
 	]]>
 		
	</select>
 	
 		<select id="MakeupSearchCount" resultType="int">
	 <![CDATA[
	select count(mc_no)
	from makeup_company
	where mc_no > 0
	]]>
	   <include refid="searchMakeup"></include>
	</select>
	
	<select id="detailMakeup" resultType="kr.co.udf.common.company.domain.MakeupCompany">
	<![CDATA[
	SELECT
		mc_no,
		mc_nm,
		mc_company_no,
		mc_main_nm, 
		mc_addr, 
		mc_main_image,
		mc_email,
		mc_tel,
		mc_introduce,
		mc_smy_intro
	FROM makeup_company
	WHERE mc_no = #{mc_no}
	]]> 
	</select>	
	
	<insert id="addReview">
	INSERT INTO makeup_review (mr_no, mc_no, mr_content, mr_point, regdate, updatedate)
	VALUES (makeup_review_seq.nextval, #{mc_no}, #{mr_content}, #{mr_point}, sysdate, sysdate) 
	</insert>
	
	<select id="reviewMakeup" resultType="kr.co.udf.company.domain.MakeupReview">
	<![CDATA[
	SELECT
		mr_no, 
		mc_no,
		mr_content,  	
		mr_point, 
		TO_CHAR(regdate, 'YY-MM-DD') AS regdate,
	    updatedate
	FROM makeup_review 	
	WHERE mc_no = #{mc_no}
	ORDER BY mr_no DESC
	]]>
	</select>
	
	<select id="avgPoint" resultType="double">
	<![CDATA[
	SELECT
		ROUND(AVG(mr_point), 1) AS avg	 
	FROM makeup_review 	
	WHERE mc_no = #{mc_no}
	]]>
	</select> 
	
	<select id="countReview" resultType="int">
	<![CDATA[
	SELECT
		COUNT(*) AS count	 
	FROM makeup_review 	
	WHERE mc_no = #{mc_no}
	]]>
	</select>
	
	<select id="countProduct" resultType="int">
	<![CDATA[
	SELECT
		COUNT(*) AS countProduct	 
	FROM makeup_product JOIN makeup_company USING(mc_no)
	WHERE mc_no = #{mc_no}
	]]>
	</select>
</mapper>