<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.udf.auction.dao.MyBatisMypageBidDao">

<!--  사용자별 신청서 리스트 조회 -->
<select id="applyListByUser" parameterType="int" resultType="Auction">
SELECT M.*
FROM (SELECT  d.daa_no  no
      , u.user_no userNo
      , u.user_nm writer
      , d.daa_loc loc
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
      , TO_CHAR(d.daa_deadline, 'YYYY-MM-DD') deadline
      , d.daa_memo memo
      , d.daa_stat stat
      , TO_CHAR(d.regdate, 'YYYY-MM-DD') regdate
      ,'dress' type
FROM   dress_auction_apply d
       JOIN users u 
         ON d.user_no = u.user_no
WHERE d.daa_stat = '입찰중' OR  d.daa_stat = '낙찰대기중'
UNION
SELECT m.maa_no  no
     , u.user_no userNo
     , u.user_nm writer   
     , m.maa_loc loc
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(m.maa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , m.maa_memo memo
     , m.maa_stat stat
     , TO_CHAR(m.regdate, 'YYYY-MM-DD') regdate
     ,'makeup' type
  FROM makeup_auction_apply m
       JOIN users u 
         ON m.user_no = u.user_no
WHERE m.maa_stat = '입찰중' OR  m.maa_stat =  '낙찰대기중'
UNION
SELECT s.saa_no  no
     , u.user_no userNo
     , u.user_nm writer
     , s.saa_loc loc
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(s.saa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , s.saa_memo memo
     , s.saa_stat stat
     , TO_CHAR(s.regdate, 'YYYY-MM-DD') regdate
     , 'studio' type
  FROM studio_auction_apply s
       JOIN users u
         ON s.user_no = u.user_no
WHERE s.saa_stat = '입찰중' OR s.saa_stat = '낙찰대기중') M
WHERE userNo = #{userNo}
ORDER BY regdate DESC

</select>

<!--  사용자별 낙찰 역경매 리스트 조회 -->
<select id="winListByUser" parameterType="int" resultType="Auction">
SELECT m.*
FROM (SELECT  d.daa_no  no
      , u.user_no userNo
      , u.user_nm writer
      , d.daa_loc loc
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
      , TO_CHAR(d.daa_deadline, 'YYYY-MM-DD') deadline
      , d.daa_memo memo
      , d.daa_stat stat
      , TO_CHAR(d.regdate, 'YYYY-MM-DD') regdate
      ,'dress' type
FROM   dress_auction_apply d
       JOIN users u 
         ON d.user_no = u.user_no
WHERE d.daa_stat = '낙찰'
UNION
SELECT m.maa_no  no
     , u.user_no userNo
     , u.user_nm writer   
     , m.maa_loc loc
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(m.maa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , m.maa_memo memo
     , m.maa_stat stat
     , TO_CHAR(m.regdate, 'YYYY-MM-DD') regdate
     ,'makeup' type
  FROM makeup_auction_apply m
       JOIN users u 
         ON m.user_no = u.user_no
WHERE m.maa_stat = '낙찰'
UNION
SELECT s.saa_no  no
     , u.user_no userNo
     , u.user_nm writer
     , s.saa_loc loc
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(s.saa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , s.saa_memo memo
     , s.saa_stat stat
     , TO_CHAR(s.regdate, 'YYYY-MM-DD') regdate
     , 'studio' type
  FROM studio_auction_apply s
       JOIN users u
         ON s.user_no = u.user_no
WHERE s.saa_stat = '낙찰') m
WHERE userNo = #{userNo}
ORDER BY regdate DESC

</select>

<!--  신청서 별 입찰서 리스트 조회 -->
<select id="bidListByUser" resultType="AuctionBid">
select d.*
from (SELECT  d.daa_no  applyNo
      , u.user_no userNo
      , u.user_nm writer
      , NVL(u.user_tel, null) tel
      , d.daa_loc loc
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
      , TO_CHAR(d.daa_deadline, 'YYYY-MM-DD') deadline
      , d.daa_memo memo
      , d.daa_stat stat
      , TO_CHAR(d.regdate, 'YYYY-MM-DD') regdate
      ,'dress' type
      , b.dbpl_discount discount
      , b.dBPL_MEET_DATE meetDate
      , c.dc_NM cnm
      , r.dp_NM pnm
      , c.dc_tel ctel
      , r.dp_price price
FROM   dress_auction_apply d
       JOIN users u 
         ON d.user_no = u.user_no
       Join DRESS_BID_PRODUCT_LIST b
         ON d.user_no = b.user_no
       join dress_company c
         on b.dc_no = c.dc_no
       join dress_product r
        on c.dc_no = r.dc_no
UNION
SELECT m.maa_no  applyNo
     , u.user_no userNo
     , u.user_nm writer   
     , NVL(u.user_tel, null) tel
     , m.maa_loc loc
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(m.maa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , m.maa_memo memo
     , m.maa_stat stat
     , TO_CHAR(m.regdate, 'YYYY-MM-DD') regdate
     ,'makeup' type
     , b.mbpl_discount discount
     , b.mBPL_MEET_DATE meetDate
     , c.mc_NM cnm
     , r.mp_NM pnm
     , c.mc_tel ctel
     , r.mp_price price
  FROM makeup_auction_apply m
       JOIN users u 
         ON m.user_no = u.user_no
         Join makeup_BID_PRODUCT_LIST b
         ON m.user_no = b.user_no
       join makeup_company c
         on b.mc_no = c.mc_no
       join makeup_product r
        on c.mc_no = r.mc_no
UNION
SELECT s.saa_no  applyNo
     , u.user_no userNo
     , u.user_nm writer
     , NVL(u.user_tel, null) tel
     , s.saa_loc loc
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(s.saa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , s.saa_memo memo
     , s.saa_stat stat
     , TO_CHAR(s.regdate, 'YYYY-MM-DD') regdate
     , 'studio' type
     , b.sbpl_discount discount
     , b.sBPL_MEET_DATE meetDate
     , c.sc_NM cnm
     , r.sp_NM pnm
     , c.sc_tel ctel
     , r.sp_price price
  FROM studio_auction_apply s
       JOIN users u
         ON s.user_no = u.user_no
         Join studio_BID_PRODUCT_LIST b
         ON s.user_no = b.user_no
       join studio_company c
         on b.sc_no = c.sc_no
       join studio_product r
        on c.sc_no = r.sc_no) d
 WHERE applyNo = #{applyNo} and type = #{type} and userNo = #{userNo}
</select>

<!--  스드메 상태값 업데이트(studio) -->
<update id="updateStudioStat">
<choose>
<when test="stat.equals('입찰중')">
UPDATE studio_auction_apply 
SET    saa_stat = '낙찰대기중' 
WHERE  user_no = #{userNo} 
       AND saa_no = #{applyNo}
</when>
<when test="stat.equals('낙찰대기중')">
UPDATE studio_auction_apply 
SET    saa_stat = '낙찰' 
WHERE  user_no = #{userNo} 
       AND saa_no = #{applyNo}
</when>
</choose>
</update>

<!--  스드메 상태값 업데이트(dress) -->
<update id="updateMakeupStat">
<choose>
<when test="stat.equals('입찰중')">
UPDATE makeup_auction_apply 
SET    maa_stat = '낙찰대기중' 
WHERE  user_no = #{userNo} 
       AND maa_no = #{applyNo}
</when>
<when test="stat.equals('낙찰대기중')">
UPDATE makeup_auction_apply 
SET    maa_stat = '낙찰' 
WHERE  user_no = #{userNo} 
       AND maa_no = #{applyNo}
</when>
</choose>
</update>

<!--  스드메 상태값 업데이트(makeup) -->
<update id="updateDressStat">
<choose>
<when test="stat.equals('입찰중')">
UPDATE dress_auction_apply 
SET    daa_stat = '낙찰대기중' 
WHERE  user_no = #{userNo} 
       AND daa_no = #{applyNo}
</when>
<when test="stat.equals('낙찰대기중')">
UPDATE dress_auction_apply 
SET    daa_stat = '낙찰' 
WHERE  user_no = #{userNo} 
       AND daa_no = #{applyNo}
</when>
</choose>
</update>

<select id="readBid" resultType="AuctionBid">
select d.*
from (SELECT  d.daa_no  applyNo
      , u.user_no userNo
      , u.user_nm writer
      , NVL(u.user_tel, null) tel
      , d.daa_loc loc
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
      , TO_CHAR(d.daa_deadline, 'YYYY-MM-DD') deadline
      , d.daa_memo memo
      , d.daa_stat stat
      , TO_CHAR(d.regdate, 'YYYY-MM-DD') regdate
      ,'dress' type
FROM   dress_auction_apply d
       JOIN users u 
         ON d.user_no = u.user_no
UNION
SELECT m.maa_no  applyNo
     , u.user_no userNo
     , u.user_nm writer   
     , NVL(u.user_tel, null) tel
     , m.maa_loc loc
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(m.maa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , m.maa_memo memo
     , m.maa_stat stat
     , TO_CHAR(m.regdate, 'YYYY-MM-DD') regdate
     ,'makeup' type
  FROM makeup_auction_apply m
       JOIN users u 
         ON m.user_no = u.user_no
UNION
SELECT s.saa_no  applyNo
     , u.user_no userNo
     , u.user_nm writer
     , NVL(u.user_tel, null) tel
     , s.saa_loc loc
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(s.saa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , s.saa_memo memo
     , s.saa_stat stat
     , TO_CHAR(s.regdate, 'YYYY-MM-DD') regdate
     , 'studio' type
  FROM studio_auction_apply s
       JOIN users u
         ON s.user_no = u.user_no) d
WHERE applyNo = #{applyNo} and type = #{type} and userNo = #{userNo}
</select>
</mapper>