<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.udf.auction.dao.MyBatisMypageBidDao">

<!--  사용자별 신청서 리스트 조회 -->
<select id="applyListByUser" parameterType="int" resultType="Auction">
SELECT M.*
FROM (SELECT  d.daa_no  no
      , u.user_no userNo
      , u.user_nm writer
      , d.daa_loc loc
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
      , TO_CHAR(d.daa_deadline, 'YYYY-MM-DD') deadline
      , d.daa_memo memo
      , d.daa_stat stat
      , TO_CHAR(d.regdate, 'YYYY-MM-DD') regdate
      ,'dress' type
FROM   dress_auction_apply d
       JOIN users u 
         ON d.user_no = u.user_no
WHERE d.daa_stat = '입찰중' OR  d.daa_stat = '낙찰대기중'
UNION
SELECT m.maa_no  no
     , u.user_no userNo
     , u.user_nm writer   
     , m.maa_loc loc
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(m.maa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , m.maa_memo memo
     , m.maa_stat stat
     , TO_CHAR(m.regdate, 'YYYY-MM-DD') regdate
     ,'makeup' type
  FROM makeup_auction_apply m
       JOIN users u 
         ON m.user_no = u.user_no
WHERE m.maa_stat = '입찰중' OR  m.maa_stat =  '낙찰대기중'
UNION
SELECT s.saa_no  no
     , u.user_no userNo
     , u.user_nm writer
     , s.saa_loc loc
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(s.saa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , s.saa_memo memo
     , s.saa_stat stat
     , TO_CHAR(s.regdate, 'YYYY-MM-DD') regdate
     , 'studio' type
  FROM studio_auction_apply s
       JOIN users u
         ON s.user_no = u.user_no
WHERE s.saa_stat = '입찰중' OR s.saa_stat = '낙찰대기중') M
WHERE userNo = #{userNo}
ORDER BY regdate DESC

</select>

<!--  사용자별 낙찰 역경매 리스트 조회 -->
<select id="winListByUser" parameterType="int" resultType="Auction">
SELECT m.*
FROM (SELECT  d.daa_no  no
      , u.user_no userNo
      , u.user_nm writer
      , d.daa_loc loc
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
      , SUBSTR(to_char(d.daa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
      , TO_CHAR(d.daa_deadline, 'YYYY-MM-DD') deadline
      , d.daa_memo memo
      , d.daa_stat stat
      , TO_CHAR(d.regdate, 'YYYY-MM-DD') regdate
      ,'dress' type
FROM   dress_auction_apply d
       JOIN users u 
         ON d.user_no = u.user_no
WHERE d.daa_stat = '낙찰'
UNION
SELECT m.maa_no  no
     , u.user_no userNo
     , u.user_nm writer   
     , m.maa_loc loc
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(m.maa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(m.maa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , m.maa_memo memo
     , m.maa_stat stat
     , TO_CHAR(m.regdate, 'YYYY-MM-DD') regdate
     ,'makeup' type
  FROM makeup_auction_apply m
       JOIN users u 
         ON m.user_no = u.user_no
WHERE m.maa_stat = '낙찰'
UNION
SELECT s.saa_no  no
     , u.user_no userNo
     , u.user_nm writer
     , s.saa_loc loc
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),0,10) day
     , SUBSTR(to_char(s.saa_date, 'YYYY-MM-DD HH24:MI'),12,7) time
     , SUBSTR(TO_CHAR(s.saa_deadline, 'YYYY-MM-DD HH24:MI'),0,10) deadline
     , s.saa_memo memo
     , s.saa_stat stat
     , TO_CHAR(s.regdate, 'YYYY-MM-DD') regdate
     , 'studio' type
  FROM studio_auction_apply s
       JOIN users u
         ON s.user_no = u.user_no
WHERE s.saa_stat = '낙찰') m
WHERE userNo = #{userNo}
ORDER BY regdate DESC

</select>

<!--  신청서 별 입찰서 리스트 조회(studio) -->
<select id="studioBidListByUser" resultType="AuctionBid">
SELECT G.*, 
       H.sp_nm           productNm, 
       H.sp_price        price,
       H.sp_apv_yn       apvYn,
       H.sp_total_yn     totalYn,
       H.sp_shoot_type   shootType,
       H.sp_image        productImage 
FROM   (SELECT E.*, 
               F.sp_no          productNo, 
               F.sbpl_discount  discount, 
               F.sbpl_meet_date meetDate 
        FROM   (SELECT C.*, 
                       D.sc_nm        name, 
                       D.sc_addr      addr, 
                       D.sc_email     email, 
                       D.sc_tel       tel, 
                       D.sc_smy_intro introduce 
                FROM   (SELECT A.saa_no       applyNo, 
                               A.saa_loc      loc, 
                               A.saa_deadline deadline, 
                               A.user_no      userNo, 
                               A.saa_stat     stat, 
                               'studio'       TYPE, 
                               B.sc_no        companyNo, 
                               B.sb_no        bidNo 
                        FROM   studio_auction_apply A 
                               inner join studio_bid B 
                                       ON A.saa_no = B.saa_no 
                                          AND A.user_no = B.user_no) C 
                       inner join studio_company D 
                               ON C.companyno = D.sc_no) E 
               inner join studio_bid_product_list F 
                       ON E.bidno = F.sb_no) G 
       inner join studio_product H 
               ON G.productno = H.sp_no 
 WHERE userNo = #{userNo} AND applyNo = #{applyNo}
</select>


<!--  신청서 별 입찰서 리스트 조회(makeup) -->
<select id="makeupBidListByUser" resultType="AuctionBid">
SELECT C.*, D.*
  FROM (SELECT A.*, B.mc_no
          FROM makeup_auction_apply A
         INNER JOIN makeup_bid B
            ON A.maa_no = B.maa_no
           AND A.user_no = B.user_no
        ) C
INNER JOIN makeup_company D
   ON C.mc_no = D.mc_no
WHERE user_no = #{userNo} AND maa_no = #{applyNo}
</select>

<!--  신청서 별 입찰서 리스트 조회(dress) -->
<select id="dressBidListByUser" resultType="AuctionBid">
SELECT C.*, D.*
  FROM (SELECT A.*, B.dc_no
          FROM dress_auction_apply A
         INNER JOIN dress_bid B
            ON A.daa_no = B.daa_no
           AND A.user_no = B.user_no
        ) C
INNER JOIN dress_company D
   ON C.dc_no = D.dc_no
WHERE user_no = 2 AND daa_no = 22
</select>

<!--  스드메 상태값 업데이트(studio) -->
<update id="updateStudioStat">
UPDATE studio_auction_apply 
SET    saa_stat = '낙찰'  
WHERE  user_no = #{userNo} 
       AND saa_no = #{applyNo}
</update>

<!--  스드메 상태값 업데이트(dress) -->
<update id="updateMakeupStat">
UPDATE makeup_auction_apply 
SET    maa_stat = '낙찰' 
WHERE  user_no = #{userNo} 
       AND maa_no = #{applyNo}
</update>

<!--  스드메 상태값 업데이트(makeup) -->
<update id="updateDressStat">
UPDATE dress_auction_apply 
SET    daa_stat = '낙찰' 
WHERE  user_no = #{userNo} 
       AND daa_no = #{applyNo}
</update>

<select id="readStudioBid" resultType="AuctionBid">
SELECT G.*, 
       H.sp_nm           productNm, 
       H.sp_price        price,
       H.sp_apv_yn       apvYn,
       H.sp_total_yn     totalYn,
       H.sp_shoot_type   shootType,
       H.sp_image        productImage
FROM   (SELECT E.*, 
               F.sp_no          productNo, 
               F.sbpl_discount  discount,
               F.sbpl_meet_date meetDate 
        FROM   (SELECT C.*, 
                       D.sc_nm        name, 
                       D.sc_addr      addr, 
                       D.sc_email     email, 
                       D.sc_tel       tel, 
                       D.sc_introduce introduce 
                FROM   (SELECT A.saa_no       applyNo, 
                               A.saa_loc      loc, 
                               A.saa_deadline deadline, 
                               A.user_no      userNo, 
                               A.saa_stat     stat, 
                               'studio'       TYPE, 
                               B.sc_no        companyNo, 
                               B.sb_no        bidNo 
                        FROM   studio_auction_apply A 
                               inner join studio_bid B 
                                       ON A.saa_no = B.saa_no 
                                          AND A.user_no = B.user_no) C 
                       inner join studio_company D 
                               ON C.companyno = D.sc_no) E 
               inner join studio_bid_product_list F 
                       ON E.bidno = F.sb_no) G 
       inner join studio_product H 
               ON G.productno = H.sp_no 
WHERE  userNo = #{userNo}
       AND applyNo = #{applyNo}
       AND bidNo = #{bidNo}
</select>


<select id="countStudioBid" resultType="int">
SELECT COUNT(*)
FROM studio_bid
WHERE user_no = #{userNo} AND saa_no = #{applyNo}
</select>

<select id="countMakeupBid" resultType="int">
SELECT COUNT(*)
FROM makeup_bid
WHERE user_no = #{userNo} AND maa_no = #{applyNo}
</select>

<select id="countDressBid" resultType="int">
SELECT COUNT(*)
FROM dress_bid
WHERE user_no = #{userNo} AND daa_no = #{applyNo}
</select>
</mapper>