<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.udf.recommend.dao.RecommendDao">

	<select id="recommendStudio" parameterType="map" resultType="map">
		SELECT sp_no, 
		       sc_no, 
		       sp_nm, 
		       sp_price, 
		       sp_apv_yn, 
		       sp_total_yn, 
		       sp_shoot_type, 
		       sp_image, 
		       regdate, 
		       updatedate, 
		       sc_nm, 
		       sc_addr 
		FROM   (SELECT sp.sp_no               sp_no, 
		               sp.sc_no               sc_no, 
		               sp.sp_nm               sp_nm, 
		               sp.sp_price            sp_price, 
		               sp.sp_apv_yn           sp_apv_yn, 
		               sp.sp_total_yn         sp_total_yn, 
		               sp.sp_shoot_type       sp_shoot_type, 
		               sp.sp_image            sp_image, 
		               TO_CHAR(sp.regdate, 'YYYY-MM-DD')    regdate, 
		               TO_CHAR(sp.updatedate, 'YYYY-MM-DD') updatedate, 
		               sc.sc_nm               sc_nm, 
		               sc.sc_addr             sc_addr 
		        FROM   studio_product sp 
		               join studio_company sc 
		                 ON sp.sc_no = sc.sc_no) 
		WHERE  (sc_addr LIKE #{location} || '%')
			   AND  (sp_price BETWEEN #{minCost} AND #{maxCost})
		  	   AND
		<foreach collection="studioOption" item="option" separator=" AND ">
		<choose>
			<when test='option.equals("실내") || option.equals("실외") || option.equals("모두")'>
			   		sp_shoot_type = #{option}
			</when>
			<when test='option.equals("on")'>
			</when>
			<otherwise>
			   		${option} = 'y'
			</otherwise>
		</choose>
		</foreach>
		ORDER BY updatedate DESC
	</select>
	
	<select id="recommendDress" parameterType="map" resultType="map">
		SELECT dp_no, 
		       dc_no, 
		       dp_nm, 
		       dp_price, 
		       dp_style, 
		       dp_image, 
		       regdate, 
		       updatedate, 
		       dc_nm, 
		       dc_addr 
		FROM   (SELECT dp.dp_no               dp_no, 
		               dp.dc_no               dc_no, 
		               dp.dp_nm               dp_nm, 
		               dp.dp_price            dp_price, 
		               dp.dp_style            dp_style, 
		               dp.dp_image            dp_image, 
		               TO_CHAR(dp.regdate, 'YYYY-MM-DD')    regdate, 
		               TO_CHAR(dp.updatedate, 'YYYY-MM-DD') updatedate, 
		               dc.dc_nm               dc_nm, 
		               dc.dc_addr             dc_addr 
		        FROM   dress_product dp 
		               join dress_company dc 
		                 ON dp.dc_no = dc.dc_no)
		WHERE  (dc_addr LIKE #{location} || '%')
			   AND	(dp_price BETWEEN #{minCost} AND #{maxCost})
			   AND	LOWER(dp_style) IN
		<foreach collection="dressOption" item="option" open=" (" close=")" separator=", ">
			   		LOWER(#{option})
		</foreach>
		ORDER BY updatedate DESC
	</select>
	
	<select id="recommendMakeup" parameterType="map" resultType="map">
		SELECT mp_no, 
		       mc_no, 
		       mp_nm, 
		       mp_price, 
		       mp_acc_yn, 
		       mp_family_yn, 
		       mp_hair_yn, 
		       mp_image, 
		       regdate, 
		       updatedate,
		       mc_nm,
		       mc_addr
		FROM   (SELECT mp.mp_no               mp_no, 
		               mp.mc_no               mc_no, 
		               mp.mp_nm               mp_nm, 
		               mp.mp_price            mp_price, 
		               mp.mp_acc_yn           mp_acc_yn, 
		               mp.mp_family_yn        mp_family_yn, 
		               mp.mp_hair_yn          mp_hair_yn, 
		               mp. mp_image           mp_image, 
		               TO_CHAR(mp.regdate, 'YYYY-MM-DD')    regdate, 
		               TO_CHAR(mp.updatedate, 'YYYY-MM-DD') updatedate, 
		               mc.mc_nm               mc_nm, 
		               mc.mc_addr             mc_addr 
		        FROM   makeup_product mp 
		               join makeup_company mc 
		                 ON mp.mc_no = mc.mc_no)
		WHERE  (mc_addr LIKE #{location} || '%')
			   AND	(mp_price BETWEEN #{minCost} AND #{maxCost})
			   AND
		<foreach collection="makeupOption" item="option" separator=" AND ">
					LOWER(${option}) = 'y'
		</foreach>
		ORDER BY updatedate DESC
	</select>

	<select id="studioListTest" resultType="map">
		SELECT sp.sp_no               sp_no, 
               sp.sc_no               sc_no, 
               sp.sp_nm               sp_nm, 
               sp.sp_price            sp_price, 
               sp.sp_apv_yn           sp_apv_yn, 
               sp.sp_total_yn         sp_total_yn, 
               sp.sp_shoot_type       sp_shoot_type, 
               sp.sp_image            sp_image, 
               TO_CHAR(sp.regdate, 'YYYY-MM-DD')    regdate, 
               TO_CHAR(sp.updatedate, 'YYYY-MM-DD') updatedate, 
               sc.sc_nm               sc_nm, 
               sc.sc_addr             sc_addr 
        FROM   studio_product sp 
               join studio_company sc 
                 ON sp.sc_no = sc.sc_no
	</select>
	
	<select id="dressListTest" resultType="map">
		SELECT dp.dp_no               dp_no, 
               dp.dc_no               dc_no, 
               dp.dp_nm               dp_nm, 
               dp.dp_price            dp_price, 
               dp.dp_style            dp_style, 
               dp.dp_image            dp_image, 
               TO_CHAR(dp.regdate, 'YYYY-MM-DD')    regdate, 
               TO_CHAR(dp.updatedate, 'YYYY-MM-DD') updatedate, 
               dc.dc_nm               dc_nm, 
               dc.dc_addr             dc_addr 
        FROM   dress_product dp 
               join dress_company dc 
                 ON dp.dc_no = dc.dc_no
	</select>
	
	<select id="makeupListTest" resultType="map">
		SELECT mp.mp_no               mp_no, 
               mp.mc_no               mc_no, 
               mp.mp_nm               mp_nm, 
               mp.mp_price            mp_price, 
               mp.mp_acc_yn           mp_acc_yn, 
               mp.mp_family_yn        mp_family_yn, 
               mp.mp_hair_yn          mp_hair_yn, 
               mp. mp_image           mp_image, 
               TO_CHAR(mp.regdate, 'YYYY-MM-DD')    regdate, 
               TO_CHAR(mp.updatedate, 'YYYY-MM-DD') updatedate, 
               mc.mc_nm               mc_nm, 
               mc.mc_addr             mc_addr 
        FROM   makeup_product mp 
               join makeup_company mc 
                 ON mp.mc_no = mc.mc_no
	</select>
	
	<select id="getStudio" resultType="kr.co.udf.common.product.domain.StudioProduct">
		SELECT sp_no, 
		       sc_no, 
		       sp_nm, 
		       sp_price, 
		       sp_apv_yn, 
		       sp_total_yn, 
		       sp_shoot_type, 
		       sp_image, 
		       TO_CHAR(regdate, 'YYYY-MM-DD')    regdate,
               TO_CHAR(updatedate, 'YYYY-MM-DD') updatedate 
		FROM   studio_product 
		WHERE  sp_no = #{sp_no}
	</select>
	
	<select id="getDress" resultType="kr.co.udf.common.product.domain.DressProduct">
		SELECT dp_no, 
		       dc_no, 
		       dp_nm, 
		       dp_price, 
		       dp_style, 
		       dp_image, 
		       TO_CHAR(regdate, 'YYYY-MM-DD')    regdate,
               TO_CHAR(updatedate, 'YYYY-MM-DD') updatedate 
		FROM   dress_product 
		WHERE  dp_no = #{dp_no}
	</select>
	
	<select id="getMakeup" resultType="kr.co.udf.common.product.domain.MakeupProduct">
		SELECT mp_no, 
		       mc_no, 
		       mp_nm, 
		       mp_price, 
		       mp_acc_yn, 
		       mp_family_yn, 
		       mp_hair_yn, 
		       mp_image,
		       TO_CHAR(regdate, 'YYYY-MM-DD')    regdate,
               TO_CHAR(updatedate, 'YYYY-MM-DD') updatedate 
		FROM   makeup_product 
		WHERE  mp_no = #{mp_no}
	</select>

	<!-- <insert id="createCart">
		
	</insert> -->

</mapper>