<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.cog//DTD Mapper 3.0//EN"
                        "http://mybatis.cog/dtd/mybatis-3-mapper.dtd">
   

<mapper namespace="kr.co.udf.reply.dao.ReplyDao">
	<select id="list" resultType="kr.co.udf.reply.domain.Reply">
		SELECT * 
		FROM   reply 
		WHERE  article_no = 1 
		ORDER  BY reply_no DESC	   
	</select>

	<insert id="create">
		INSERT INTO reply 
            (reply_no, 
             article_no, 
             reply_content, 
             user_nm) 
		VALUES(reply_seq.nextval, 
              #{article_no}, 
              #{reply_content}, 
              #{user_nm}) 
	</insert>
	
	<update id="update">
		UPDATE reply 
		SET    reply_content = #{reply_content}, 
		       updatedate = sysdate 
		WHERE  reply_no = #{reply_no}
	</update>
	
	<delete id="delete">
		DELETE FROM reply 
		WHERE  reply_no = #{reply_no}
	</delete>

	<select id="listPage" resultType="kr.co.udf.reply.domain.Reply">
	<![CDATA[
			SELECT * 
			FROM   (SELECT Ceil(rownum / #{cri.perPageNum}) page, 
			               reply_no, 
			               article_no, 
			               reply_content, 
			               user_nm, 
			               regdate, 
			               updatedate 
			        FROM   (SELECT reply_no, 
			                       article_no, 
			                       reply_content, 
			                       user_nm, 
			                       To_char(regdate, 'YYYY-MM-DD HH24:MI') regdate, 
			                       To_char(regdate, 'YYYY-MM-DD HH24:MI') updatedate 
			                FROM   reply 
			                ORDER  BY article_no DESC)) 
			WHERE  page = #{cri.page} and article_no=#{article_no}
	]]>		   
	</select>
	
	<select id="count" resultType="int">
		SELECT Count(article_no) 
		FROM   reply 
		WHERE  article_no = #{article_no}
	</select>

</mapper>	

