<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="kr.co.udf.user.dao.UserDao">

	<select id="login" parameterType="kr.co.udf.user.domain.User" resultType="java.util.HashMap">
		SELECT M.no
		     , M.email
		     , M.pw
		     , M.role
		  FROM (SELECT user_no as no
		             , user_email as email
		             , user_pw as pw
		             , 'users' as role
		          FROM users
		        UNION
		        SELECT admin_no as no
		             , admin_email as email
		             , admin_pw as pw
		             , 'admin' as role
		          FROM admin
		        UNION
		        SELECT dc_no as no
		             , dc_email as email
		             , dc_pw as pw
		             , 'dc' as role
		          FROM dress_company
		        UNION
		        SELECT mc_no as no
		             , mc_email as email
		             , mc_pw as pw
		             , 'mc' as role
		          FROM makeup_company
		        UNION
		        SELECT sc_no as no
		             , sc_email as email
		             , sc_pw as pw
		             , 'sc' as role
		          FROM studio_company) M
		 WHERE email = #{email}
		   AND pw    = #{pw}
	</select>
	<!-- <update id="keepLogin">
		UPDATE tbl_user
		   SET sessionKey = #{sessionId}
		     , sessionLimit = #{next}
		 WHERE uno = #{uno}
	</update>
	
	<select id="checkUserWithSessionKey" resultType="kr.or.kosta.springmvc.user.domain.User">
		SELECT *
		  FROM tbl_user
		 WHERE sessionKey = #{value}
		   AND sessionlimit > sysdate
	</select> -->
</mapper>