<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="kr.co.udf.auction.domain.Auction" alias="Auction"/>
		<typeAlias type="kr.co.udf.common.web.SearchParams" alias="SearchParams"/>
		<typeAlias type="kr.co.udf.common.company.domain.StudioCompany" alias="StudioCompany"/>
	</typeAliases>

</configuration>