<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="kr.co.udf.user.dao.UserJoinDao">
	
	<!-- 일반 사용자 회원가입 -->
	<insert id="userjoin" parameterType="map">
		INSERT INTO users
		       (
		         user_no
		       , user_email
		       , user_pw
		       , user_nm
		       , user_birthday
		       , user_addr
		       , user_tel
		       ) VALUES (
		         users_seq.nextval
		       , #{user.email}
		       , #{user.pw}
		       , #{user.name}
		       , to_date(#{user.birthday})
		       , #{addr}
		       , #{tel}
		       )
	</insert>
	
	<!-- 드레스 업체 회원가입 -->
	<insert id="companyjoinDress" parameterType="map">
			INSERT INTO dress_company
			            (
                     dc_no
                   , dc_nm
                   , dc_company_no
                   , dc_main_nm
                   , dc_addr
                   , dc_main_image
                   , dc_email
                   , dc_pw
                   , dc_tel
                   , dc_introduce
                   , dc_smy_intro
                   ) VALUES (
                     dress_company_seq.nextval
                   , #{company.nm}
                   , #{company.cn}
                   , #{company.mainNm}
                   , #{addr}
                   , #{image}
                   , #{company.email}
                   , #{company.pw}
                   , #{company.tel}
                   , #{company.introduce}
                   , #{company.smyIntro}
                   )
	</insert>
	
	<!-- 메이크업 업체 회원가입 -->
	<insert id="companyjoinMakeup" parameterType="map">
		INSERT INTO makeup_company
		            (
                    mc_no
                  , mc_nm
                  , mc_company_no
                  , mc_main_nm
                  , mc_addr
                  , mc_main_image
                  , mc_email
                  , mc_pw
                  , mc_tel
                  , mc_introduce
                  , mc_smy_intro
                  ) VALUES (
                    makeup_company_seq.nextval
                  , #{company.nm}
                  , #{company.cn}
                  , #{company.mainNm}
                  , #{addr}
                  , #{image}
                  , #{company.email}
                  , #{company.pw}
                  , #{company.tel}
                  , #{company.introduce}
                  , #{company.smyIntro}
                  )
	</insert>
	
	<!-- 스튜디오 업체 회원 가입 -->
	<insert id="companyjoinStudio" parameterType="map">
		INSERT INTO studio_company
		            (
                    sc_no
                  , sc_nm
                  , sc_company_no
                  , sc_main_nm
                  , sc_addr
                  , sc_main_image
                  , sc_email
                  , sc_pw
                  , sc_tel
                  , sc_introduce
                  , sc_smy_intro
                  ) VALUES (
                    studio_company_seq.nextval
	                 , #{company.nm}
	                 , #{company.cn}
	                 , #{company.mainNm}
	                 , #{addr}
	                 , #{image}
	                 , #{company.email}
	                 , #{company.pw}
	                 , #{company.tel}
	                 , #{company.introduce}
	                 , #{company.smyIntro}
                  )
	</insert>

	<!-- 이메일 존재 유무 체크 -->
	<select id="emailcheck" parameterType="kr.co.udf.user.domain.Login" resultType="kr.co.udf.user.domain.Login">
		SELECT M.no
		     , M.email
		     , M.pw
		     , M.nm
		     , M.role
		  FROM (SELECT user_no as no
		             , user_email as email
		             , user_pw as pw
		             , user_nm as nm
		             , 'users' as role
		          FROM users
		        UNION
		        SELECT admin_no as no
		             , admin_email as email
		             , admin_pw as pw
		             , admin_nm as nm
		             , 'admin' as role
		          FROM admin
		        UNION
		        SELECT dc_no as no
		             , dc_email as email
		             , dc_pw as pw
		             , dc_nm as nm
		             , 'dc' as role
		          FROM dress_company
		        UNION
		        SELECT mc_no as no
		             , mc_email as email
		             , mc_pw as pw
		             , mc_nm as nm
		             , 'mc' as role
		          FROM makeup_company
		        UNION
		        SELECT sc_no as no
		             , sc_email as email
		             , sc_pw as pw
		             , sc_nm as nm
		             , 'sc' as role
		          FROM studio_company) M
		 WHERE email = #{email}
	</select>
	
	<insert id="kakaojoin">
		INSERT INTO kakao_users 
		          (
					id
				  , user_no
				  , nickname
				  , profile_image
				  , thumbnail_image
				  , regdate
				  , updatedate 
			      ) VALUES (
			        #{id}
			      , #{userNo}
			      , #{nickname}
			      , #{profileImage}
			      , #{thumbnailImage}
			      , sysdate
			      , sysdate
			      )      
	</insert>
	
	<select id="userSelect" parameterType="kr.co.udf.user.domain.UserDTO" resultType="kr.co.udf.user.domain.User">
		SELECT user_no no
		  FROM users
		 WHERE user_email = #{email}
		   AND user_pw    = #{pw}
	</select>
</mapper>