.chkbx-mg-lt {
  margin-left:20px;
}
.form-addr {
  width: 70%;
  display: inline;
}
.dp-block {
  display: block;
}
.btn-addr {
  display: inline-table;
  margin-bottom: 5px;
  padding: 10px 15px;
  background-color: #7A7878;
  color: rgb(255, 255, 255);
  width: 28%;
  font-weight: bold;
}
.btn-addr:hover {
  text-decoration: none;
  color: #1f2222;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  background-color: #FDC600;
}
.tx-cp-memo {
	display: block;
	min-width: 100%;
	resize: none;
	height: 200px;	
	font-size: 13px;
  line-height: 1.42857;
}
